PORT=8000
MONGODB_URI="connection string"
CLUSTER_NAME="cluster name"
USERNAME="username"
PASSWORD="password"
NODE_ENV="development"

CLERK_PUBLISHABLE_KEY="sample_publishable_key"
CLERK_SECRET_KEY="clerk_secret_key"
CLERK_WEBHOOK_SECRET="clerk_webhook_secret"

CORS_ORIGIN="http://localhost:3000"